.nav-component-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-item-background);
  padding: 8px 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-item span {
  margin-top: 4px;
  color: var(--clr-txt-navbar);
}

.nav-item.active span {
  color: var(--clr-txt-navbar-chosen);
}

.nav-icon {
  width: 24px;
  height: 24px;
  filter: invert(65%) sepia(7%) saturate(95%) hue-rotate(314deg) brightness(89%)
    contrast(89%);
}

.nav-icon.active {
  filter: invert(68%) sepia(93%) saturate(380%) hue-rotate(116deg)
    brightness(86%) contrast(84%);
}

.active-indicator {
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: hsl(170, 61%, 45%);
  border-radius: 2px;
}
